<div class="website-image">
  <div class="registration-wrapper" id="registration-wrapper-login">
    <header class="website-title">
      <div class="website-title-width">
        <h1 class="registration-title">Album Art</h1>
      </div>
    </header>
    <main id="message-box-login">
      <% if flash.has?(:login_error) %>
          <p class="message-box"><%= flash[:login_error] %></p>
      <% end %>
      <section class="registration-form">
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username" class="username-input">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="LOG IN" class= "submit-btn">
        </form>
        <a class= "registration-link" href='/signup' >SIGN UP</a>
      </section>
    </main>
  </div>
</div>