<div class="website-image">
  <div class="registration-wrapper" id="registration-wrapper-signup">
    <header class="website-title">
      <div class="website-title-width">
        <h1 class="registration-title">Album Art</h1>
      </div>
    </header>
    <main>
      <section class="registration-msg-countainer">
        <% if flash.has?(:signup_error) %>
          <ul>
            <% flash[:signup_error].each do |error| %>
              <li class="registration-msg-font"><%= error %>
            <% end %>
          </ul>
        <% end %>
      </section>
      <section class="registration-form">
        <form method="POST" action="/signup">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="password_confirmation" placeholder="Re-Enter Password">
            <input type="submit" value="Sign Up" class= "submit-btn">
        </form>
        <a class= "registration-link" href='/login' >Log In</a>
      </section>
    </main>
  </div>
</div>