<div class="website-image">
  <div class="registration-wrapper" id="registration-wrapper-signup">
    <header class="website-title">
      <div class="website-title-width">
        <h1 class="registration-title">Album Art</h1>
      </div>
    </header>
    <main>
      <section id="message-box-signup">
        <% if flash.has?(:signup_error) %>
          <div class="message-box">
            <ul>
            <% flash[:signup_error].each do |error| %>
              <li><%= error %>
            <% end %>
            </ul>
          </div>
        <% end %>
      </section>
      <section class="registration-form">
        <form method="POST" action="/signup">
            <input type="text" name="username" placeholder="Username" class="username-input">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password_confirmation" placeholder="Re-Enter Password">
            <input type="submit" value="SIGN UP" class= "submit-btn">
        </form>
        <a class= "registration-link" href='/login' >LOG IN</a>
      </section>
    </main>
  </div>
</div>