<div class="website-image">
    <div id="main-wrapper">
        <header class="website-title">
            <h1 id="main-title">Album Art</h1>
        </header>
        <hr class="top-line">
        <main id="main-info-buttons">
            <section id="main-info">
                <p>Store data on Spotify songs.</p>
                <p>Display your album covers.</p>
                <p>Play your songs.</p>
            </section>
            <section id="main-buttons">
                <a href="/login" class="submit-btn">LOG IN</a>
                <a href="/signup" class="registration-link">SIGN UP</a>
                <hr class="bottom-line">
            <section>
        </main>
        <footer class="about" id="main-about">
            <p>Created by <span class="signature">Alexander Clamor</span></p>
            <br>
        </footer>
    </div>
</div>