<main id="main-wrapper">
    <header class="website-title">
        <h1>Album Art</h1>
    </header>
    <hr class="top-line">
    <section id="main-info">
        <p>Store data on Spotify songs.</p>
        <p>Display your album covers.</p>
        <p>Play your songs.</p>
    </section>
    <section>
        <a href="/login" class="login-btn">LOG IN</a>
        <a href="/signup" id="signup-txt">SIGN UP</a>
        <hr class="bottom-line">
    <section>
    <footer class="about">
        <p>Created by Alexander Clamor</p>
    </footer>
</main>