<h1>Album Art</h1>

<h3>Inpsired by Apple's Album Artwork screen saver... but for the cool kids</h3>

+ Start storing data on your recently played songs on Spotify
+ Display the album covers on past songs in a clean, customizable grid
+ Play 30-second clips of each song to briefly relive the moment

<a href="/login">Sign Up</a> | <a href="/signup">Log In</a>